* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: #4f444b;
  outline: none;
  border: solid 2px;
  border-radius: 16px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  gap: 1rem;
  padding: 10px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #262325;
  color: #33b102;
}

h1, h2 {
  color: #33b102;
  font-weight: bold;
  text-align: center;
}

h1 {
  margin-bottom: 1rem;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Calibri;
  font-size: 24px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.DigitalClock {
  margin: 1rem;
  padding: 2rem;
  border:#33b102 solid 3px;
  border-radius: 18px;
}

.CountDown {
  margin: 1rem;
  padding: 2rem;
  border:#33b102 solid 3px;
  border-radius: 18px;
}

.Stopwatch {
  margin: 1rem;
  padding: 2rem;
  border:#33b102 solid 3px;
  border-radius: 18px;
}
